@model Adressbok.Models.Adressboken
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
@{
    var ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "result"
    };
}

@using (Ajax.BeginForm("Create", "Adress", ajaxOptions))
{

    @Html.LabelFor(x => x.Namn)<br />
    @Html.TextBoxFor(adress => adress.Namn)<br />
    @Html.LabelFor(x => x.Telefonnummer)<br />
    @Html.TextBoxFor(adress => adress.Telefonnummer)<br />
    @Html.LabelFor(x => x.Adress)<br />
    @Html.TextBoxFor(adress => adress.Adress)<br />
    @Html.LabelFor(x => x.Tidpunkt)<br />
    @Html.TextBoxFor(adress => adress.Tidpunkt)
    <input type="submit" value="Lägg till adress" />
}

<div id="result">
    <br /><br /><br />
    @{Html.RenderAction("ListOfAdresses");}
</div>
